<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Yarn Barn Inventory Product Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Edit Product</h1>
	<div class="row col-md-6">
		<form method="POST" th:object="${product}">
			<input type="hidden" name="id" th:value="*{id}" />
			<div class="form-group">
				<label for="productName">Product Name</label> <input type="text"
					name="productName" class="form-control" placeholder="Product Name"
					th:field="*{productName}" /> <span
					th:if="${#fields.hasErrors('productName')}"
					th:errors="*{productName}">Product Name Error</span>
			</div>
			<div class="form-group">
				<label for="description">Description</label> <input type="text"
					name="description" class="form-control" placeholder="Description"
					th:field="*{description}" /> <span
					th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}">Description Error</span>
			</div>
			<div class="form-group">
				<label for="yarnWeight">Yarn Weight</label> 
				<select name="yarnWeight">
		    		<option th:selected="*{yarnWeight} == '0 - Lace' " value='0 - Lace'>0 - Lace</option>
		    		<option th:selected="*{yarnWeight} == '1 - Super Fine, Baby-Weight' " value="1 - Super Fine, Baby-Weight">1 - Super Fine, Baby-Weight</option>
		    		<option th:selected="*{yarnWeight} == '2 - Fine, Sport-Weight' " value="2 - Fine, Sport-Weight">2 - Fine, Sport-Weight</option>
		    		<option th:selected="*{yarnWeight} == '3 - DK Weight' " value="3 - DK Weight">3 - DK Weight</option>
		    		<option th:selected="*{yarnWeight} == '4 - Worsted-Weight' " value="4 - Worsted-Weight">4 - Worsted-Weight</option>
		    		<option th:selected="*{yarnWeight} == '5 - Bulky' " value="5 - Bulky">5 - Bulky</option>
		    		<option th:selected="*{yarnWeight} == '6 - Super Bulky' " value="6 - Super Bulky">6 - Super Bulky</option>
		    		</select>
			</div>
			<div class="form-group">
				<label for="price">Price</label> <input type="text" name="price"
					class="form-control" placeholder="price" th:field="*{price}" /> <span
					th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price
					Error</span>
			</div>
			<div class="form-group">
				<label for="inventory">Inventory</label> <input type="text"
					name="inventory" class="form-control" placeholder="1"
					th:field="*{inventory}" /> <span
					th:if="${#fields.hasErrors('inventory')}" th:errors="*{inventory}">InventoryError</span>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
			<div class="row">
			<a class="col-md-4" href="/home">Back</a>
		</div>
	</div>


</body>
</html>